body {
  background-color: teal;
}
.App {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  background: white;
  border: 5px solid aqua;
  padding: 1%;
  margin-top: 3%;
  
}
.headerText {
  font-size: 2vw;
}
.controlText {
  font-size: 1vw;
}
.controls {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
button {
  background-color: teal;
  width: 10vw;
  font-size: 3vw;
  font-weight: 800;
  color: white;
}
.screen {
  background-color: teal;
  width: 48vw;
  margin-left: 15%;
  margin-right: 15%;
}
.clock{
  height: 50%;
}
.time{
  color: white;
  font-size: 5vw;
}
